body{
  background: linear-gradient(to right, yellow, orange);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 100%;
}

.title{
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

.webpage{
  border: 3px dotted black;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.content{
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 30px; 
    box-shadow: 10px 5px;
    padding: 15px;
    margin: 10px;

}

.intro{
  font-weight: bolder;
}

.bulletPoints{
  background-color: lightcoral;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: left;
}


li{
  font-weight: bold;
  margin-bottom: 10px;
  list-style-type: none;
}


.condition{
    font-weight: bolder;
    color: red;
    font-style: italic;
}

#showPointOne{
  background-color: orangered;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
}

#showPointTwo{
 background-color: goldenrod;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
} 

#showPointThree{
  background-color: olive;  
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
}

#showPointFour{
    background-color: lightseagreen;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

#reset{
  background-color: red;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
}

#showPointOne:hover{
  background-color: darkorange;
  transition: 0.3s;
}

#showPointTwo:hover{
  background-color: darkgoldenrod;
  transition: 0.3s;
}

#showPointThree:hover{
  background-color: darkolivegreen;
  transition: 0.3s;
}

#showPointFour:hover{
    background-color: darkseagreen;
    transition: 0.3s;
}

#reset:hover{
  background-color: darkred;
  transition: 0.3s;
}

/* Likes Section */

.likesSection{
  background-color: olivedrab;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: left;
  margin: 10px;
}

.likesCounter{
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 10px;
    color:black;
    padding: 10px;
}

#likeButton{
  background-color: green;
  border: 3px solid black;
  border-radius: 10px;
}

#likeButton:hover{
  background-color: darkgreen;
  color: black;
  transition: 0.3s;
}

#cancel{
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

#cancel:hover{
  background-color: darkred;
  transition: 0.3s;
}

#deleteAllPageBtn{
  position: sticky;
  top: 0;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

#deleteAllPageBtn:hover{
  background-color: darkred;
  transition: 0.3s;
}

.moreAboutMe{
  text-align: left;
  padding: 5px;
  background-color:hotpink;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.moreAboutMe h2{
  text-align: center;
}

.tooltip{
  text-decoration: underline;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext{
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

.tooltipimgtext{
  text-decoration: underline;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipimg{
  visibility: hidden;
  width: 130px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.tooltipimgtext:hover .tooltipimg{
  visibility: visible;
}


#cadillacPhotoButton{
  background: linear-gradient(to right, blue, red);
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}



#cadillacPhotoButton:hover{
background: linear-gradient(to left, blue, red);
transition: 0.3s;
}

#malibuPhotoButton{
  background: linear-gradient(to right, grey, white);
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

#malibuPhotoButton:hover{
  background: linear-gradient(to left, grey, white);
}

.photoSection{
  background-color: tomato;
   text-align: left;
  padding: 5px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.photoSection h3{
  text-align: center;
}


.tooltipbiketext{
  text-decoration: underline;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: blue;
  font-weight: bold;
  font-style: oblique;
}


.tooltipbike{
  visibility: hidden;
  width: 200px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.tooltipbiketext:hover .tooltipbike{
  visibility: visible;
}

#fzImageBtn{
  background: linear-gradient(to right, goldenrod, black);
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

#fzImageBtn:hover{
  background: linear-gradient(to left, goldenrod, black);
}